
html { -webkit-font-smoothing: subpixel-antialiased; }

body { background:#201508; font-family: 'Lato', sans-serif;}

/*
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Eczar', serif;
*/


#container { width:auto; padding:00px 40px 100px 40px; overflow-x:hidden; }
header { display:block; background-image:url(../images/icons.png); background-repeat:no-repeat; background-position:100% 13%; }
#top { float:left; }
#design { float:right; width:364px; height:109px; margin:40px 0 0 0; }

a, nav ul li a { color:#a98 !important; text-decoration:none; }
a:hover, nav ul li a:hover { color:#dcb !important; }

nav { width:75%; height:30px; margin:-17px 0px 20px 0px; }
nav ul li { display:inline; float:left; color:#876; font-size:1em; font-weight:500; letter-spacing:4px; text-transform:uppercase; margin:34px 0 15px 0; padding:0 13px 0 15px; border-right:1px dotted #543; }
li.selected { color:#fff; }
li.first { padding-left:0; }
li.last { border-right:none; color:#C30 !important; }


#main { display:block; }

section#main div { display:inline; float:left; position:relative; height:180px; }
section#main div:hover { z-index:100; }


section#main div img { height:174px; width:auto; margin: 0 6px 6px 0; border:none; background:none; display:block; float:left; z-index:1;
	-webkit-border-radius:3px; -webkit-box-shadow: rgba(0,0,0,0.6) 0 0 10px; -webkit-transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in;
	-moz-border-radius:3px 3px 3px 3px; -moz-box-shadow: rgba(0,0,0,0.6) 0 0 10px; -moz-transition: -moz-transform .2s ease-in-out, -moz-box-shadow .2s ease-in;
	}

h1 { float:none; color:#765; font-size:4em; font-weight:100; font-style:italic; margin:53px 0 15px 0; text-shadow: 0px 1px 2px rgba(0,0,0,0.5);}
h1.intro { font-size:28px; margin:12px 65px 25px 0; font-style:normal; float:left; line-height:130%; }
.andrew { color:#876; font-weight:300; margin-right:25px; }
.aboutme { font-size:20px; text-transform:uppercase; font-style:italic; letter-spacing:0.15em; }

h2 { display:inline; width:100px; float:left; text-align:right; color:rgba(150,140,130,0.6); font-size:1.6em; font-weight:100; margin:55px 15px 0 0; padding:0 15px 0 0; background:url('../intro/images/caret.png') 100% 50% no-repeat; letter-spacing:0.15em; }
h3 { width:200px; display:block; float:none; color:#FFE; font-size:21px; font-weight:600; font-style:italic; margin:18px 15px 0 15px; text-shadow: 2px 2px 3px rgba(0,0,0,1); -webkit-font-smoothing:antialiased; }

.co { display:block; width:22px; text-align:center; font-size:11px; font-weight:700; font-style:normal; background-color:rgba(0,0,0,0.65); padding:1px 3px; margin:0 6px 3px 0; color:rgba(255,255,235,1); -webkit-border-radius:3px; -moz-border-radius:3px; }

section#main div h3 { visibility:hidden; position:absolute; z-index:100; }
section#main div:hover h3 { margin-left:0; visibility:visible; -webkit-transform: rotate(-01deg) translate(0px, 4px); -moz-transform: rotate(-01deg) translate(0px, 4px) scale(1.2); z-index:500; }
section#main div:hover img { z-index:50; -webkit-transform: rotate(-0.05deg) translate(0px, 4px) scale(1.2); -webkit-box-shadow: #000 0 5px 10px;
	-moz-transform: rotate(-0.05deg) translate(0px, 4px) scale(1.2); -moz-box-shadow: #000 0 5px 10px; }


h4 { display:inline; width:200px; float:left; text-align:right; color:rgba(150,140,130,0.6); font-size:20px; font-weight:100; margin:60px 15px 0 0; padding:0 15px 0 0; background:url('../intro/images/caret.png') 100% 50% no-repeat; }

h6 { width:10%; height:60px; display:inline; float:left; color:#987; font-size:13px; font-weight:lighter; text-align:right; margin:20px 10px 0 10px; letter-spacing:.3em; text-transform:uppercase;
	background-image:url('arrow.png'); background-position:100% 100%; background-repeat:no-repeat; }




#map { width:120%; overflow:hidden; margin:0 0 0 -40px; }
#map iframe { margin-top:-50px }



.typekit-badge { display:none !important; }




/* Justified image layout */

select.k-select { width:18em; height:30px; }
.k-button { font-size:10px; }
optgroup { font-weight:700; }

#picmenu { padding:6px 0 15px 0px; }


div.picrow { border: 0px solid #000; }

div#picstest { height: 0px; width:95%; margin:30px auto; }

div#pics { width:95%; margin:30px auto; }

div#loading { display: none; text-align: center; }

img.photo { cursor: pointer; -webkit-border-radius:3px; -moz-border-radius:3px 3px 3px 3px; }

/* img.photo:hover { -webkit-filter: grayscale(0%); }  */

#credit { font-size:9px; text-align:center; margin:10px auto 30px auto; color:#432;}

#credit a { color:#654 !important; }




/* Queeries */


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

#design {display:none; }
h1 {  }
nav { height:auto; }
nav ul { margin-top:30px; }
nav ul li { display:block; float:none;       margin-top:10px; padding:0; border:none; }

}





/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

#design {display:none; }
h1 { font-size: 4.2em; }
nav ul li { font-size: 1.1em; }

}
